.join {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto; 
    justify-content: center;
    gap: 5px;
    height: auto;
    margin-top: 200px;
    border-radius: 5px;
    padding: 20px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-shadow: -4px -4px 12px rgba(0, 0, 0, 0.15);
}

.join input[type="submit"] {
    height: 52px;
    width: 300px;
    background-color: #10a37f;
    color: #fff;
    margin: 24px auto 0;
    border-radius: 6px;
    padding: 4px 16px;
    font: inherit;
    border-width: 0;
    cursor: pointer;
}
.join input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    font-size: 14px;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
  }
.join input:hover {
    border-color: #10a37f;
  }
  
.join input::-webkit-calendar-picker-indicator {
    filter: invert(0.5);
    cursor: pointer;
  }